---
import Layout from '../layouts/Layout.astro';
import {Avatar} from '../components/Cards.jsx';
---

<Layout title="Welcome to Astro.">
  <div class="container">
        <Avatar/>
  </div>
</Layout>
<style>
    .container {
      display: flex;
	  flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
	  margin: auto;
	  padding: auto;
    }  </style>