---
import Layout from '../layouts/Layout.astro';
import { Button } from '../components/button.jsx';
import Card from '../components/Card.astro';

---

<Layout title="Welcome to Astro.">
  <div class="container">	
	<Card title="Contador de 5 en 5"/>
    <Button client:visible />
  </div>
</Layout>
<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
    .container {
      display: flex;
	  flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
	  margin: auto;
	  padding: auto;
    }
  </style>