h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0;
    color: #3320df;
    text-align: center;
  }
  @media (min-width: 1024px) {
    .wapperList {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(30px + 2vmin);
      color: #3320df;
    }
  }