---
interface Props {
	title: string;
}

const { title} = Astro.props;
---

<li class="card">
	<h2>
		{title}
	</h2>
</li>
<style>
	.card {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding: 0.25rem;
		background-size: 400%;
		text-align: center;
	}
	h2 {
		margin: auto;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		color: #ffffff;
		padding: 10px;

	}
</style>